<div class="auth-box">
  <h2 class="auth-title">Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Username</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="loginData.name"
        class="form-control"
        name="name"
        required
        placeholder="Enter your username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="loginData.password"
        class="form-control"
        name="password"
        required
        placeholder="Enter your password"
      />
    </div>
    <button type="submit" class="btn btn-success w-100">Get Started</button>
    <button type="button" class="btn btn-outline-secondary w-100 mt-2" (click)="goHome()">
      Back to Home Page
    </button>
  </form>
</div>
